{% extends "safetymomentum/base.jinja2" %}

{% block head_title %}About Safety Momentum{% endblock %}
{% block body_title %}About Safety Momentum{% endblock %}

{% block content %}
<p>
    <b>Safety Momentum</b> provides "Safety Moments", to challenge your team to
    keep safety in mind.
</p>
<p>
    Safety Momentum, founded at
    <a href="http://www.up.co/communities/usa/tulsa/startup-weekend/5958">Tulsa Startup Weekend</a> 2015 Energy Edition,
    is:
</p>
<ul>
  <li>Brian Blocker</li>
  <li>Gornie Williams</li>
  <li>John Whitlock</li>
  <li>Kendall Werts</li>
  <li>Mackenzie Ward</li>
  <li>PF Kraus</li>
</ul>
{% endblock %}
