{% extends "safetymomentum/base.jinja2" %}

{% block head_title %}Safety Momentum{% endblock %}

{% block body_container %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="smaller">Welcome to Safety Momentum</h1>
      <p>

      </p>
    </div>
  </div>
  <div class"col-md-6"><img src="iphone1.png"></div>
  <div class"col-md-6"><img src="iphone2.png"></div>
  <div class"col-md-4">
    <h2>Safety at your fingertips</h2>
    <p>Easy-to-use interface.  Simple sorting and catagorization of Safety Moments.</p>
  </div>
  <div class"col-md-4">
    <h2>Always be ready with a Safety Moment</h2>
    <p>In any industry, in any situation.  A Relevant Safety Moment.</p>
  </div>
  <div class"col-md-4">
    <h2>Take Safety Seriously<h2>
    <p>Safety moments are an important way to start every meeting.  Make sure they are taken seriously at your company and in your meetings.</p>
  </div>
  <hr>
  <footer>
    <p>© Safety Momentum 2015</p>
  </footer>
{% endblock %}
