{% extends "safetymomentum/base.jinja2" %}

{% block head_title %}Safety Momentum{% endblock %}

{% block body_container %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="smaller">Welcome to Safety Momentum</h1>
      <p>
        Safety Momentum, for safety!
      </p>
    </div>
  </div>
  <hr>
  <footer>
    <p>© John Whitlock 2015</p>
  </footer>
{% endblock %}
